
<%- include('../../partials/dash/head') %>
<body data-background-color="dark">
    <div id="app">
        <%- include('../../partials/dash/payptawk') %>
        <div class="wrapper">
        <%- include('../../partials/dash/mainheader') %>
    
            <!-- Stored in resources/views/child.blade.php -->
            <!-- SIDE BAR -->
            <%- include('../../partials/dash/sidebar') %>
            <!-- END SIDE BAR -->

<!-- VERIFY MODAL -->  
<%- include('../../partials/dash/verifymodal') %>      
<!-- END VERIFY MODAL -->           
<div class="main-panel bg-dark">
    
            <div class="content bg-dark">
                <div class="page-inner">
                    <div class="mt-2 mb-5">
                        <h1 class="title1 text-light">Change Your password</h1> <br> <br>
                    </div>
                    
                        <div class="row mb-5">
                        <div class="col-lg-8 offset-lg-2 card p-4 shadow-lg bg-dark">
                                <div id="err" style="color: red; text-align: center; display: none; padding: 10px; background-color: #fff;"> Err </div>
                            <form method="post" id="changepasswordform">
                                <div class="form-control bg-dark mb-2">
                                    <h5 class="text-light">Old Password* :</h5>
                                    <input type="password" name="old_password" class="form-control text-light bg-dark" required>
                                </div>
                                <div class="form-control bg-dark mb-2">
                                    <h5 class="text-light">New Password* :</h5>
                                    <input type="password" id="password" name="password" class="form-control text-light bg-dark" required>
                                </div>
                                <div class="form-control bg-dark mb-2">
                                    <h5 class="text-light">Confirm Password* :</h5>
                                    <input type="password" id="password_confirmation" name="password_confirmation" class="form-control text-light bg-dark" required>
                                </div> <br>
                                <input id="submitBtn" type="submit" class="btn btn-primary" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FOOTER -->
            <%- include('../../partials/dash/footer') %>
            <!-- END FOOTER -->
            </div>
        </div>
    </div>

<!--   Core JS Files   -->
<%- include('../../partials/dash/corejsfiles') %>

<script>
$('#changepasswordform').submit(function( event ){
		this.disabled = true;
		event.preventDefault()
		const errorDiv = document.getElementById('err')
        if( $("#password").val() !== $("#password_confirmation").val() 
        ||  $("#password").val() === "" || $("#password_confirmation").val() === "") {
			errorDiv.textContent = "Password doesn't match";
			errorDiv.style.display = 'block';
			return
		} 
		errorDiv.style.display = 'none';
		   data = $('#changepasswordform').serialize();        
		   $.ajax({
				url: '/user/dashboard/changepassword',
				type:'POST',
				data,
				beforeSend:function(){
				   $('#submitBtn').val('Please Wait ...')
			   },
			  success:function(response){
				   if(response =='done'){
					$('#submitBtn').val('Please Wait ...')
					   location.reload();
                   }
                },
                error:function ( response ) {
                    // There is an error
                    console.log("There was an error", response)
                    errorDiv.textContent = response.responseJSON;
                    errorDiv.style.display = 'block';
				   }
			  })
		})  		 
</script>
</body>

</html>

