
<%- include('../../partials/dash/head') %>
<body data-background-color="dark">
    <div id="app">
        <%- include('../../partials/dash/payptawk') %>
        <div class="wrapper">
        <%- include('../../partials/dash/mainheader') %>
    
            <!-- Stored in resources/views/child.blade.php -->
            <!-- SIDE BAR -->
            <%- include('../../partials/dash/sidebar') %>
            <!-- END SIDE BAR -->

<!-- VERIFY MODAL -->  
<%- include('../../partials/dash/verifymodal') %>      
<!-- END VERIFY MODAL -->        

<div class="main-panel bg-dark">
			<div class="content bg-dark">
				<div class="page-inner">
					<div class="mt-2 mb-4">
					<h1 class="title1 text-light">Your deposits</h1>
					</div>
						<div class="row py-3 mb-4">
						<div class="col">
							<a class="btn btn-primary" href="#" data-toggle="modal" data-target="#depositModal"><i class="fa fa-plus"></i> New deposit</a>
						</div>
					</div>
					<% if( user && user.transactions.length !== 0 ) {%>
					<div class="row mb-5">
					<div class="col text-center card p-4 bg-dark">
							<div class="bs-example widget-shadow table-responsive" data-example-id="hoverable-table"> 
							<table  class="UserTable table table-hover text-light"> 
									<thead> 
										<tr> 
											<th>ID</th> 
											<th>Amount</th>
											<th>Payment mode</th>
											<th>Status</th> 
											<th>Date created</th>
										</tr> 
									</thead> 
									<tbody> 
										<% user.transactions.forEach( function(trx, index) { %>
											<tr>
													<td><%= index + 1 %></td>
													<td><%= trx.amount %></td>
													<td><%= trx.payment_mode %></td>
													<td><%= trx.status %></td>
													<td><%= trx.date.toDateString() %></td>
													<td>
													<a href="/user/dashboard/payment9d6c" class="btn btn-success">Submit hash</a>
												</tr>   
										<% }) %>                     
                                     </tbody>   
	 
								</table>
							</div>
					</div>
					</div>
					<%}else { %>
						<span style="text-align:center;"> NO TRANSACTIONS YET! </span>
					<% } %>
				</div>
			</div>
			<!-- Deposit Modal -->
			<div id="depositModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
  
				  <!-- Modal content-->
				  <div class="modal-content ">
					<div class="modal-header bg-dark">
					  <h4 id="makedep" class="modal-title text-light">Make new deposit</h4>
						<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
					</div>
					<div id="errorAmt" style="color: red; text-align: center; display: none;"> Error </div>
					<div class="modal-body paymodal bg-dark">
						  <form style="padding:3px;" role="form" method="post" id="depositform">
								<div id="mth_amt">
									<input id="amountInp" style="padding:5px;" class="form-control text-light bg-dark" placeholder="Enter amount here" type="text" name="amount" required><br/>
                                 <h5 class="text-light">Payment Method:</h5>
                                    <select id="payoption" name="payment_mode" class="form-control bg-dark text-light" required>
										<option>Bitcoin</option>
										<option>Ethereum</option>
										<option>USDT</option>
										<option>BNB</option>
                                    </select><br>
								 <input type="hidden" name="user" value="<%= user._id %>">
								 <!-- <input type="hidden" name="deposit" value="uVfTiF4siYbSic8FKD2VYmWG6NbepdVao1ZCDC8A"> -->
								 <!-- <input type="submit" class="btn btn-light submit" value="Continue"> -->
								<button id="continueBtn" class="btn btn-light submit">Continue</button>
								</div>
								 <div class="wallets" style="display: none">
										<div id="btcwallet_ctn">
											<!-- <strong>Bitcoin Wallet Address</strong> -->
											
											<div style="display:flex; align-items: center; flex-direction:column;">
												<strong>Scan Barcode</strong>
												<img src="<%= btc.image %>" alt="btc barcode" style="width:100px;margin-bottom:16px;">
											</div>

											<div style="display:flex">
												<input style="padding:5px; width:100%" class=""  type="text" name="bitcoin" id="btcwallet" 
													value="<%= btc.address %>" readonly>&nbsp; &nbsp; <i class="fas fa-copy fa-2x" onclick="copybtc()"></i>
											</div><br/>
											
										</div>
										<div id="ethwallet_ctn">
											<div style="display:flex; align-items: center; flex-direction:column;">
												<strong>Scan Barcode</strong>
												<img src="<%= eth.image %>" alt="eth barcode" style="width:100px;margin-bottom:16px;">
											</div>
											<div style="display:flex">
											<input style="padding:5px; width:100%" class=""  type="text" name="ethereum" id="ethwallet" 
												value="<%= eth.address %>" readonly>&nbsp; &nbsp; 
											<i class="fas fa-copy fa-2x" onclick="copyeth()"></i>
											</div><br/>										
										</div>

										<div id="usdtwallet_ctn">
											<div style="display:flex; align-items: center; flex-direction:column;">
												<strong>Scan Barcode</strong>
												<img src="<%= usdt.image %>" alt="usdt barcode" style="width:100px;margin-bottom:16px;">
											</div>
											<div style="display:flex">
											<input style="padding:5px; width:100%" class=""  type="text" name="usdt" id="usdtwallet" 
												value="<%= usdt.address %>" readonly>&nbsp; &nbsp; 
											<i class="fas fa-copy fa-2x" onclick="copyusdt()"></i>
											</div><br/>										
										</div>
										<div id="bnbwallet_ctn">
												<div style="display:flex; align-items: center; flex-direction:column;">
													<strong>Scan Barcode</strong>
													<img src="<%= bnb.image %>" alt="bnb barcode" style="width:100px;margin-bottom:16px;">
												</div>
												<div style="display:flex">
												<input style="padding:5px; width:100%" class=""  type="text" name="bnbereum" id="bnbwallet" 
													value="<%= bnb.address %>" readonly>&nbsp; &nbsp; 
												<i class="fas fa-copy fa-2x" onclick="copybnb()"></i>
												</div><br/>										
											</div>
											<!-- <a href="deposits.html"  class="btn btn-primary">Done</a> -->
											<input type="submit" class="btn btn-light submit" value="Done">
											<button id="backBtn" class="btn btn-dark">Back</button>
									</div>
									<!-- MINE script -->
									<script>
										const continueBtn = document.getElementById("continueBtn");
										const backBtn = document.getElementById("backBtn");
										const payoption =  document.getElementById("payoption");
										const ethwallet =  document.getElementById("ethwallet_ctn");
										const btcwallet =  document.getElementById("btcwallet_ctn");
										const usdtwallet =  document.getElementById("usdtwallet_ctn");
										const bnbwallet =  document.getElementById("bnbwallet_ctn");
										const mth_amt =  document.getElementById("mth_amt");
										const wallets = document.getElementsByClassName("wallets")[0];
										const makedep = document.getElementById("makedep");
										
										backBtn.addEventListener("click", function(event) {
											event.preventDefault()
											mth_amt.style.display = 'block';
											wallets.style.display = 'none'
										})

										continueBtn.addEventListener("click", function(event) {
											event.preventDefault()
											const amount = document.getElementById("amountInp").value;
											if(!(typeof Number(amount) === 'number') || !Number(amount)) {
												errorAmt = document.getElementById("errorAmt")
												errorAmt.textContent = "Enter Valid Amount";
												errorAmt.style.display = 'block';
												return
											} 
											errorAmt.style.display = 'none';
											mth_amt.style.display = 'none';

											console.log("Amount: ", amount)
											console.log("Pay Option: ", payoption.value)

											makedep.innerText = "Make new deposit to the below wallet address"
											payoption.value === 'Ethereum' ? ethwallet.style.display = 'block' : ethwallet.style.display = 'none'
											payoption.value === 'Bitcoin' ? btcwallet.style.display = 'block' : btcwallet.style.display = 'none'
											payoption.value === 'USDT' ? usdtwallet.style.display = 'block' : usdtwallet.style.display = 'none'
											payoption.value === 'BNB' ? bnbwallet.style.display = 'block' : bnbwallet.style.display = 'none'
											wallets.style.display = 'block'

										})
									</script>
									<!-- END MINE script -->
						 </form>
					</div>
				  </div>
				</div>
			  </div>
			  <!-- /deposit Modal -->
			
			
			<!-- Delete Subscription Modal -->
			<div id="delsubmodal" class="modal fade" role="dialog">
				<div class="modal-dialog">
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header bg-dark">
					  <h4 class="modal-title text-light">Delete MT4 Details</h4>
					  <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body bg-dark p-3">
						<h5 class="text-light">Your subscription has already started, send an Email to <a  class="btn" href="mailto:binatrustfx@gmail.com">binatrust support</a> to have your MT4 Details Deleted.</h5>
					</div>
				  </div>
				</div>
			  </div>
			  <!-- /deposit Modal -->
			
		
					  <!-- Withdrawal Modal -->
		  <div id="withdrawalModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header bg-dark">
				  <h4 class="modal-title text-light">Payment will be sent to your recieving address.</h4>
				  <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body bg-dark">
					  <form style="padding:3px;" role="form" method="post" action="/dashboard/withdrawal">
							 <input style="padding:5px;" class="form-control bg-dark text-light" placeholder="Enter amount here" type="text" name="amount" required><br/>
							 
							 <input type="hidden" name="_token" value="uVfTiF4siYbSic8FKD2VYmWG6NbepdVao1ZCDC8A">
							 <input type="submit" class="btn btn-light" value="Submit">
					 </form>
				</div>
			  </div>
			</div>
		  </div>
		  <!-- /Withdrawals Modal -->			

		<!-- Subscription Payment modal -->
			<div class="modal fade" id="SubpayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header bg-dark">
					
						<h4 class="modal-title text-light">Subscription Payment</h4>
						<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			      </div>

				<form role="form" method="post" action="/dashboard/deposit" id="priceform">
				<div class="modal-body bg-dark">
					
					<h5 class="text-light">Duration</h5>
						<select class="form-control bg-dark text-light" onchange="calcAmount(this)" name="duration" class="duration" id="duratn">
							<option value="default">Select duration</option>
							<option>Monthly</option>
							<option>Quaterly</option>
							<option>Yearly</option>
						</select><br>
						<h5 class="text-light">Amount to Pay</h5>
						<input class="form-control subamount bg-dark text-light" type="text" id="amount" disabled><br/>
						<input id="amountpay" type="hidden" name="amount">
						<input type="hidden" value="Subscription Trading" name="pay_type">
						<input type="hidden" name="_token" value="uVfTiF4siYbSic8FKD2VYmWG6NbepdVao1ZCDC8A">
				</div>
				<div class="modal-footer bg-dark">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Pay Now</button>
				</div>
				</div>
				</form>

				<script type="text/javascript">
				function calcAmount(sub) {
					if(sub.value=="Quaterly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '&#36;20';
						amountpay.value = '20';
					}if(sub.value=="Yearly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '&#36;30';
						amountpay.value = '30';
					}if(sub.value=="Monthly"){
						var amount = document.getElementById('amount');
						var amountpay = document.getElementById('amountpay');
						amount.value = '&#36;10';
						amountpay.value = '10';
					}
				}
				</script>
			</div>
			</div>
			<!-- Subscription Payment modal -->
			
			
		<!-- Submit MT4 MODAL modal -->
			<div id="submitmt4modal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
					<div class="modal-header bg-dark">
						<h4 class="modal-title text-light">Submit your MT4 Login Details</h4>
						<button type="button" class="close text-light" data-dismiss="modal">&times;</button>
			      </div>
			     	<div class="modal-body bg-dark">
              			<form role="form" method="post" action="/dashboard/savemt4details">
							  
							  <h5 class="text-light ">MT4 ID*:</h5>
							<input class="form-control bg-dark text-light"  type="text" name="userid" required><br/>
							<h5 class="text-light ">MT4 Password*:</h5>
							<input style="padding:5px;" class="form-control bg-dark text-light"  type="text" name="pswrd" required><br/>
							<h5 class="text-light ">Account Type:</h5>
							<input  class="form-control bg-dark text-light" Placeholder="E.g. Standard" type="text" name="acntype" required><br/>	
							<h5 class="text-light ">Currency*:</h5>
							<input  class="form-control bg-dark text-light" Placeholder="E.g. USD" type="text" name="currency" required><br/>
							<h5 class="text-light ">Leverage*:</h5>
							<input  class="form-control bg-dark text-light" Placeholder="E.g. 1:500"  type="text" name="leverage" required><br/>
							<h5 class="text-light ">Server*:</h5>
							<input  class="form-control bg-dark text-light" Placeholder="E.g. HantecGlobal-live"  type="text" name="server" required><br/>
							<h5 class="text-light ">Subscription Duration:</h5>
							<select class="form-control bg-dark text-light" name="duration" class="duration">
								<option value="default">Select duration</option>
								<option>Monthly</option>
								<option>Quaterly</option>
								<option>Yearly</option>
							</select><br>

					   		<input type="hidden" name="_token" value="uVfTiF4siYbSic8FKD2VYmWG6NbepdVao1ZCDC8A">
					   		<input type="submit" class="btn btn-primary" value="Submit">
					   </form>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- /plans Modal -->
	
                <!-- FOOTER -->
                <%- include('../../partials/dash/footer') %>
                <!-- END FOOTER -->
            </div>
        </div>
    </div>

<!--   Core JS Files   -->
<%- include('../../partials/dash/corejsfiles') %>	

<script>
		$('#depositform').submit(function( event ){
		   event.preventDefault();
		   data= $('#depositform').serialize();        
		   $.ajax({
				url: '/user/dashboard/deposits',
				type:'POST',
				data:data,
				beforeSend:function(){
				   $('.submit').append(`<div class="spinner-border text-success" role="status">
	 <span class="sr-only">Loading...</span>
   </div>`)
			   },
			  success:function(response){
				   if(response =='done'){
					   $('#depositform').fadeOut();
					   $('.wallets').fadeIn();
					   location.replace("/user/dashboard/deposits");
				   } else {
					 // There is an error
					   console.log("There was an error", response)
				   }
			  }
			})
		})   
   
	function copybtc() {
	 /* Get the text field */
	 var copyText = document.getElementById("btcwallet");
   
	 /* Select the text field */
	 copyText.select();
	 copyText.setSelectionRange(0, 99999); /* For mobile devices */
   
	  /* Copy the text inside the text field */
	 navigator.clipboard.writeText(copyText.value);
   
	 /* Alert the copied text */
	 alert("Copied the text: " + copyText.value);
   }
	function copyeth() {
	 /* Get the text field */
	 var copyText = document.getElementById("ethwallet");
   
	 /* Select the text field */
	 copyText.select();
	 copyText.setSelectionRange(0, 99999); /* For mobile devices */
   
	  /* Copy the text inside the text field */
	 navigator.clipboard.writeText(copyText.value);
   
	 /* Alert the copied text */
	 alert("Copied the text: " + copyText.value);
   }

   function copyusdt() {
	 /* Get the text field */
	 var copyText = document.getElementById("usdtwallet");
   
	 /* Select the text field */
	 copyText.select();
	 copyText.setSelectionRange(0, 99999); /* For mobile devices */
   
	  /* Copy the text inside the text field */
	 navigator.clipboard.writeText(copyText.value);
   
	 /* Alert the copied text */
	 alert("Copied the text: " + copyText.value);
   }

   function copybnb() {
	 /* Get the text field */
	 var copyText = document.getElementById("bnbwallet");
   
	 /* Select the text field */
	 copyText.select();
	 copyText.setSelectionRange(0, 99999); /* For mobile devices */
   
	  /* Copy the text inside the text field */
	 navigator.clipboard.writeText(copyText.value);
   
	 /* Alert the copied text */
	 alert("Copied the text: " + copyText.value);
   }
</script>
</body>
</html>

