<%- include('../partials/head') %>
<body class="loading_it">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    <%- include('../partials/preloader') %>

    <script>
    /*--window load functions--*/
    jQuery(window).load(function() {
        var preLoder = $(".preloader");
        preLoder.fadeOut(1000);
        $("body").removeClass("loading_it");
    });
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/603da9f91c1c2a130d63d207/1evodvuq3';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <div class="banner-area center">
        <div class="area">
            <div class="bodycontainer2">
                <h1 class="tlt text-white" style="margin: 20px 0;">About <span class="text-default"> binatrust || Sparkup Your Coin</span></h1>
                <div class="banner-title">
                    <span class="decor-equal"></span>
                </div>
                <div style="margin: 20px 0;">
                    <a href="/">HOME</a> / ABOUT US
                </div>
            </div>
            <div id="particles-js"></div>
        </div>
    </div>
    <div class="bodycontainer2 padding">
        <div class="title_container">
            <h4>About binatrust || Sparkup Your Coin</h4>
            <span class="decor_default"></span>
        </div>
        <h4 style="box-sizing: border-box; font-family: &#39;Museo Sans&#39;, Arial, Helvetica, sans-serif; color: #666666; font-size: 24px; margin: 5px 0px; padding: 0px; border: 0px; vertical-align: baseline;">&nbsp;</h4>
        <h3 style="text-align: center;"><strong>binatrust INVESTMENT NETWORK&nbsp;</strong></h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: center;">www.binatrust.online is a Limited Liability company</h3>
        <h3 style="text-align: center;">binatrust INVESTMENT NETWORK</h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: justify;">This is a mining platform or pool where you invest your money in Bitcoin and your Bitcoin investment undergoes a regular mining operation 24hrs/day making it possible for you to increase your financial capacity.&nbsp;</h3>
        <h3 style="text-align: justify;">This platform helps you to stay financially relevant, it gives you a financial freedom and also, it helps you to secure a financial future.&nbsp;</h3>
        <h3 style="text-align: justify;">The platform is stress-free and it gives you time to attend to your other needs.</h3>
        <h3 style="text-align: justify;">Our Job at binatrust LLC is to guide and show our clients how to invest and make money through this plartform without the need of a third party.</h3>
        <h3 style="text-align: justify;">Bitcoin mining operation is carried out 24hr/day generating constant steady interest on the invested bitcoin. An accumulated interest rate is distributed evenly accross every wallet registered and connected to the mining network.</h3>
        <h3 style="text-align: justify;">At binatrust we have the best group of mining expert and we mine using the best mining hardware( CGminer) which makes it possible for our clients to get the best mining services.</h3>
        <h3 style="text-align: justify;">Every wallet connected to the mining network gets a steady interest return which makes this investment platform more profiting and beneficial.</h3>
        <h3 style="text-align: justify;">Once your account is created and registered, your wallet will be credited with a start up bonus interest&nbsp; of 0.0004btc from binatrust</h3>
        <h3 style="text-align: justify;">You can monitor and control your investment on binatrust 24hrs a day.</h3>
        <h3 style="text-align: justify;">At binatrust mining network we will never ask our clients for money, we always advise our clients to disregard any such person requesting money from them.&nbsp;</h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: justify;">WITHDRAWAL METHOD</h3>
        <h3 style="text-align: justify;">You can make a withdrawal after 7 days from your investment period.</h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: justify;">COMMISSION AND COMPENSATION</h3>
        <h3 style="text-align: justify;">At binatrust we will never ask you to send money to us neither would any of our online agents request money from you.&nbsp;</h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: justify;">&nbsp;</h3>
        <h3 style="text-align: justify;">NOTE: The Bitcoin miner compensation/commission is 25% of your weekly accumulated interest.</h3>
        <h3 style="text-align: justify;">Everytime you make a withdrawal, you are required to pay 25% mining compensation of your total weekly accumulated interest to the Bitcoin miner.&nbsp;</h3>
        <h3 style="text-align: justify;">The 25% give back, is a compensation fee for the work that the Bitcoin miners do to help you multiply your income. Is a way of saying thank you for the good work done every week.</h3>
    </div><a href="#" id="back-to-top" class="back-to-top fa fa-arrow-up show-back-to-top"></a>
    <script>
    /*--window Scroll functions--*/
    $(window).on('scroll', function() {
        /*--show and hide scroll to top --*/
        var ScrollTop = $('#back-to-top');
        if ($(window).scrollTop() > 500) {
            ScrollTop.fadeIn(1000);
        } else {
            ScrollTop.fadeOut(1000);
        }
    });
    </script>
    
    <%- include('../partials/footer') %>

    <script src="/assets/js/particle.js"></script>
    <script>
    particlesJS("particles-js", {
        "particles": { "number": { "value": 100, "density": { "enable": true, "value_area": 800 } }, "color": { "value": "#ffffff" }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 }, "image": { "src": "/assets/img/github.svg", "width": 100, "height": 100 } }, "opacity": { "value": 0.5, "random": false, "anim": { "enable": false, "speed": 1, "opacity_min": 0.1, "sync": false } }, "size": { "value": 3, "random": true, "anim": { "enable": false, "speed": 40, "size_min": 0.1, "sync": false } }, "line_linked": { "enable": true, "distance": 150, "color": "#ffffff", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 6, "direction": "none", "random": false, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 1200 } } },
        "interactivity": {
            "detect_on": "canvas",
            "events": { "onhover": { "enable": true, "mode": "repulse" }, "onclick": { "enable": true, "mode": "push" }, "resize": true },
            "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3 }, "repulse": { "distance": 200, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } }
        },
        "retina_detect": true
    });
    </script>
    <script>
    (function(b, i, t, C, O, I, N) {
        window.addEventListener('load', function() {
            if (b.getElementById(C)) return;
            I = b.createElement(i), N = b.getElementsByTagName(i)[0];
            I.src = t;
            I.id = C;
            N.parentNode.insertBefore(I, N);
        }, false)
    })(document, 'script', '../widgets.bitcoin.com/widget.html', 'btcwdgt');
    </script>
</body>
</html>